.example{
	font-size:60px;
	/*font-color: pink;
 /*line-height: 100px;*/
 font-weight: bolder; 
 font-family: 'Knewave', cursive;
/*font-family: 'Coda Caption', sans-serif;*/
background-color: red;
  color:blue;
}
.about{
     font-style: italic;
     font-size: 25px;
     color:black;
     font-family: 'Cabin Condensed', sans-serif;
     background-image: url(https://www.trawell.in/images/itinerary/sm/Chikmagalur1_sm.jpg);
     background-size: 1500px 100px;
     background-repeat: no-repeat;
     background-attachment: fixed;
} 
.places{
	font-style: bolder;
	font-style: italic;
	font-size: 40px;
	font-family: 'Acme', sans-serif;
	background-color: green;
}   
body{
background-image:url(https://www.trawell.in/images/itinerary/sm/Chikmagalur1_sm.jpg);
/*background-repeat:repeat-x;*/
background-repeat:no-repeat;
background-size: cover;

/*/background-size: contain;
background-size: 500px 500px;*/
background-attachment: fixed;
}
.advertize{
	font-style: bolder;
	font-style: italic;
	font-size: 40px;
	font-family: 'Acme', sans-serif;
	background-color: green;
/*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbx8Ddo2lfw_xnl6F1Ms-yUlY8RPGE7P2xRIdoHTn35-Z5pKfW);
     background-size: contain;*/
}