.example{
	border:5px outset black;

	border-radius: 5px;
/*rder-top: 2px dotted red;
border-right: 3px dashed blue;
border-right-style: groove;*/
border-top: 10px 20px 30px 40px;
border-style:solid ridge dotted dashed;
border-color: blue red black red;
padding:10px 20px 30px 40px;
margin: 10px 5px 40px 20px;

}
.one{
	color:red;
	width:200px;
	height: 200px;
overflow: auto;
}
.two{
	color:red;
	width:200px;
	height:200px;
	overflow: auto;
	position:fixed;
	left:200px;
}

