{
	color:Blue;
}

#id2,#id3{
	color:red;
}
.example{
/*font-size: 50px*/
line-heght:20px;
word-spacing:10px;
/*font-weight:bold;*/
font-weight:bolder;
letter-spacing: 5px;
/*font-style: italic;*/
font-style:oblique;
text-decoration: underline;
/*font-family: courier;*/
font-family: 'Montserrat', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Great Vibes', cursive;
}
#id1{
background-color: yellow;

}
/*body{
	background-color:green;
}*/
body{
background-image:url(https://images.pexels.com/photos/710263/pexels-photo-710263.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
background-repeat:repeat-y;
/*background-repeat:repeat-x;
background-repeat:no-repeat;*/
background-size: cover;
/*
background-size: contain;
background-size: 500px 500px;*/
background-attachment: fixed;
}