.example{
	font-style: bolder;
	font-style: italic;
	font-size: 20px;
	font-family: 'Acme', sans-serif;
	color: #842743;
	
}
body{
background-image:url(clg.jpg);
/*background-repeat:repeat-x;*/
background-repeat:no-repeat;
background-size: cover;

/*/background-size: contain;
background-size: 500px 500px;*/
background-attachment: fixed;
}